@use '../colors';

footer {
  position: relative;

  padding-top: 9.6rem;
  padding-bottom: 7.2rem;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 1.6rem; // set at least 16px of gap between elements

    section {
      &:nth-of-type(1) {
        width: 100%;
        max-width: 66.8rem;

        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        & > strong {
          font-family: 'Mohave', sans-serif;
          font-weight: 600;
          text-transform: uppercase;
        }

        & > p {
          color: colors.$greyLight02;
          font-size: 1.4rem;
        }
      }

      &:nth-of-type(2) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 2.4rem;

        & > span {
          text-align: center;
          font-size: 1.2rem;
          font-weight: 500;
        }

        & > img {
          height: 2rem;
        }
      }
    }
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;

    width: 100%;
    height: 1.6rem;

    background: url('../media/line.svg') no-repeat center center; // the path should be considering the from css folder.
  }
}
