@use '../colors';

.videos {
  position: relative;

  padding-top: 8rem;
  padding-bottom: 6.4rem;

  overflow: hidden;

  &::before {
    content: '';

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    width: 33.4rem;
    height: 100%;

    background: linear-gradient(270deg, #060608 -3.29%, rgba(6, 6, 8, 0) 64.25%);

    z-index: 2;
    pointer-events: none;
  }

  .container {
    & > section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.6rem;

      padding-bottom: 3.2rem;

      h2 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }

  .card {
    width: 100%;
    max-width: 38.8rem;

    display: inline-flex;
    flex-direction: column;
    gap: 2.2rem;

    .thumbnail {
      position: relative;

      width: 100%;
      height: 21.6rem;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }

      svg {
        position: absolute;
        top: 50%;
        left: 50%;

        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
      }

      &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;

        width: 39.1rem;
        height: 22.2rem;
        background: url('../media/image-hover.svg') no-repeat center center;

        opacity: 0;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
      }

      &:hover {
        svg {
          opacity: 100%;
        }

        &::before {
          opacity: 100%;
        }
      }

      @media screen and (max-width: 991px) {
        &::before {
          display: none;
        }
      }
    }

    h3 {
      color: colors.$greyLight01;

      font-family: 'Roboto Flex', sans-serif;
      font-size: 1.4rem;
      font-weight: 500;
    }
  }

  .swiper-pagination {
    position: relative;
    width: auto;
    bottom: 0;

    & > span {
      width: 0.6rem;
      height: 0.6rem;

      border-radius: 0;

      background-color: colors.$greyDark05;
      transition: background-color 0.3s ease;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        background-color: colors.$white;
      }

      &:hover {
        background-color: colors.$white;
      }
    }
  }

  .slider {
    position: relative;

    .btn {
      position: absolute;
      top: 10.8rem;

      width: 4rem;
      height: 4rem;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;

      background-color: colors.$greyDark05;
      transition: opacity 0.3s ease;
      z-index: 5;

      svg {
        color: colors.$white;
        width: 2.4rem;
        height: 2.4rem;
      }

      &-prev {
        left: 0;
        rotate: 180deg;
      }

      &-next {
        right: 0;
      }

      &.swiper-button-disabled {
        opacity: 0;
      }

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }

  // Laptop
  @media screen and (max-width: 1200px) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  // Mobile
  @media screen and (max-width: 560px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
