$white: #fff;
$yellow: #f09104;
$bgColor: #060608;

$greyDark01: #060608;
$greyDark03: #1b1b21;
$greyDark04: #25252e;
$greyDark05: #2f2f3b;

// Grey Light
$greyLight01: #c0c0cc;
$greyLight02: #ceced9;
$greyLight05: #f2f2ff;

// Orange
$orange01: #CF3302;
$orange03: #f55827;
